.labelFilter {
  display: block;
  text-align: center;
  font-weight: 700;
}

.inputFilter {
  display: block;

  margin-top: 8px;
  padding: 5px;

  height: 30px;
  width: 200px;

  font-size: 15px;

  border-radius: 20px;
  border: none;
}
